.App {
  text-align: center;
}

.dropdown-menu {
  height: 300px;
  max-height: 300px;
  z-index: 1000;
  overflow-x: visible;
  overflow-y: auto;
  width: 100%;
}

#dropdown-item-button {
  max-width: 100%;
  margin-left: 0;
  text-align: left;
  white-space: normal;
  word-break: normal;
}

.filter_card {
  overflow: visible;
}
